<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <!-- Bootstrap -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css">
        body{ font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
    </style>
    <script src="https://cdn.bootcss.com/markdown.js/0.6.0-beta1/markdown.min.js"></script>
</head>
<body>
<nav id="navbar-example" class="navbar navbar-default navbar-static navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".bs-js-navbar-scrollspy">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Web开发学习笔记</a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
            <ul class="nav navbar-nav">
                {{/* var menuList []Entity.Menu //所有栏目 */}}
                {{range $i,$m := .menuList}}
                {{/* var Id int64 //Menu.Id */}}
                {{/* var Name string //Menu.Name */}}
                    <li><a href="/menu/{{.Id}}/1">{{.Name}}</a></li>
                {{end}}
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" value="golang是最好的语言">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/adminlogin">后台</a></li>
                {{/* var auth string //已登录为true 未登录为false */}}
                {{if eq .auth "false"}}
                    <li><a href="/register">注册</a></li>
                    <li><a href="/login">登录</a></li>
                {{else}}
                {{/* var username string //用户名 */}}
                    <li><a href="/user">欢迎你&nbsp;:&nbsp;{{.username}}&nbsp;&nbsp;&nbsp;更多</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>
<div class="cow">
    <div class="col-md-2 col-lg-2 col-sm-1 col-xs-1"></div>
    <div data-spy="scroll" data-target="#navbar-example" data-offset="0"class="col-md-8 col-lg-8 col-sm-10 col-xs-10">
        <div>
            <ol class="breadcrumb">
                <li><a href="/">主页</a></li>
                {{/* var menu Entity.Menu */}}
                {{/* var Id int //Menu.Id */}}
                {{/* var Name string //Menu.Name */}}
                {{range $i,$v := .menu}}
                    <li><a href="/menu/{{.Id}}/1">{{.Name}}</a></li>
                {{end}}
                {{/* var article Entity.Article */}}
                {{/* var Title string //Article.Title */}}
                {{range $i,$v := .article}}
                    <li class="active">{{.Title}}</li>
                {{end}}
            </ol>
            <hr/>
            {{range $i,$v := .article}}
            {{/* var Classify string //Article.Classify */}}
            <h5>分类:{{.Classify}}
                {{/* var preId int //Article.Id */}}
                {{/* var preTitle int //Article.Title */}}
                {{/* var sucId int //Article.Id */}}
                {{/* var sucTitle int //Article.Title */}}
                <p class="text-right">上一篇: <a href="/article/{{$.preId}}">{{$.preTitle}}</a></p>
                <p class="text-right">下一篇: <a href="/article/{{$.sucId}}">{{$.sucTitle}}</a></p>
            </h5><br/>
            {{/* var Title string //Article.Title */}}
            <h3>{{.Title}}</h3><br/>
            {{/* var writer string //UserData.Username */}}
            <h5>作者:{{.Writer}}</h5>
            {{/* var Time string //Article.Time.Format("2006-01-02 15:04:05") */}}
            <h5>最后修改日期:{{.Time}}</h5><br/>
            {{/* var Content HTML //(HTML)Article.Content */}}
            {{.Content}}
            {{end}}
        </div>
        <hr/>
        {{/* var commentSum int //留言总数 */}}
        <h3>留言&nbsp;共&nbsp;{{.commentSum}}&nbsp;条)</h3>
        <hr/>
        {{/* var commentList []Entity.Comment */}}
        {{range $i,$v := .commentList}}
            {{/* var Floor int //Comment.Floor */}}
            {{/* var Username string //(string)Comment.Username */}}
            {{/* var Content string //Comment.Content */}}
            {{/* var Time string //Comment.Time.Format("2006-01-02 15:04:05")*/}}
            <h4>{{.Floor}}&nbsp;楼&nbsp;{{.Username}}&nbsp;说:</h4>
            <p>{{.Content}}</p>
                <p class="text-right">日期:{{.Time}} | <a href="#">回复</a></p>
        {{end}}
        <hr dashed>
        <hr>
        <br><br>
        <h3>发表观点</h3>
        <form  method="post" name="form" id="form">
            <textarea class="form-control" rows="3" id="Comment" name="Comment"></textarea>
            {{/* var Id int64 //Article.Id */}}
            {{range $i,$v := .article}}
                <input type="text" id ="Article" name="Article" style="display:none" value="{{.Id}}">
            {{end}}
            {{/* var commentSumPlus int //评论总数+1 */}}
            <input type="text" id ="Floor" name="Floor" style="display:none" value="{{.commentSumPlus}}">
        </form>
        <button class="btn btn-default" name="btn" id="btn">提交</button>
        <p id="text" name="text"></p>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-1 col-xs-1"></div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/CommentAjax.js"></script>
</body>
</html>